html {
  font-size: 62.5%;
}

.container{
    width: 550px;
    padding: 3rem;
    margin: 10px auto;
    background-color: #f0f0f0;
}

button {
  
  background-color: #20c40a;  /* Color verde */
 
  color: white;  /* Texto blanco */
  
  /* 3. Borders */
  border: none;  /* No border */
  border-radius: 5px;  
  padding: 10px 20px;  
  font-size: 16px;  
  font-weight: bold;  
  cursor: pointer;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  transition: background-color 0.3s, transform 0.3s; 
  margin: 15px; 
}

button.destroy::after {
  content: "🚫";
  color: red;
 
}
.title{
  color: red;
  font-weight: bold;
  font-size: 1.9rem;
}
.sub-title{
  color: rgb(59, 170, 214);
}

.string-interpolation{
  color: blue;
}


.input {
  padding: 8px;
  border: 2px solid gray;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
}

/* Angular aplica estas clases automáticamente */
.ng-valid {
  border-color: green;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.error {
  color: red;
  font-weight: bold;
}

.estado {
  margin-top: 10px;
  font-family: monospace;
}

.box{
  height: 15px;
  display: block;
  background-color: green;
  
}