

<div class="show-mobile">
    <div>
        <button (click)="toggleMenu()" >
            <img src="./assets/svg/icon_menu.svg" alt="">
        </button>
        <a href="">
            <img src="./assets/svg/logo_yard_sale.svg" alt="">
        </a>
         <button (click)="toggleShoppingCart()">
            <img src="./assets/svg/icon_shopping_cart.svg" alt="">
            <span class="counter
                counter absolute top-3 right-4 -translate-y-1/2 translate-x-1/2 bg-green-500 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center
                "
                >{{ counter }}</span>
        </button>
    </div>
</div>
<div class="slide-panel slide-left max-w-md mx-auto p-4 bg-white shadow-lg rounded-lg space-y-4" 
[class.active]="activeMenu">
    <button 
    class="w-full bg-green-600 text-white py-2 rounded hover:bg-green-700 transition"
    (click)="toggleMenu()">Close</button>
    <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href=""></a>Electronics</li>
    </ul>
</div>
<div class="slide-panel slide-right max-w-md mx-auto p-4 bg-white shadow-lg rounded-lg space-y-4" 
[class.active]="activeShoppingCart">
    <button class="w-full bg-green-600 text-white py-2 rounded hover:bg-green-700 transition" (click)="toggleShoppingCart()">Close</button>
    
    @for (product of myShoppingCart; track product; let i = $index){
    <div class="flex items-center space-x-4">
            <img 
            [src]="product.image" 
            [alt]="product.title"
            class="w-16 h-16 object-cover rounded">
            
            <div class="flex-1">
                <div class="font-medium text-gray-800">{{product.title}}</div>
                <div class="text-gray-500">{{product.price}}</div>
            </div>
            <button class="text-red-500 hover:text-red-700 font-semibold">Delete</button>
            
   
            
             
    </div>
    
    <div class="flex justify-between items-center text-lg font-semibold text-gray-800">
        <span>Total: </span>
        <span> {{ getTotal() }} </span>
    </div>
     }
</div>


<div class="hide-mobile">
    <div>
        <nav>
            <a class="logo" href="#">
                <img src="./assets/svg/logo_yard_sale.svg" alt="">
            </a>
            <ul>
                <li>
                    <a href="#">All</a>
                </li>
                <li>
                    <a href="#">Clothes</a>
                </li>
                <li>
                    <a href="#">Electronics</a>
                </li>
            </ul>
        </nav>
        <div class="info">
            <div class="account">andresmr955&#64;gmail.com</div>
            <div>
                <button (click)="toggleShoppingCart()" >
                    <img src="./assets/svg/icon_shopping_cart.svg" alt="">
                </button>
                
            <span class="counter
                counter absolute top-3 right-4 -translate-y-1/2 translate-x-1/2 bg-green-500 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center
                "
                >{{ counter }}</span>
            </div>
        </div>
    </div>
</div>