
<div class="container">
    <p style="color: red">gettingreadyapp works!</p>
    <h1> Getting ready app </h1>
    <h4 class="title">Validación de formularios y estilos dinámicos en Angular</h4> 
    <input type="color" [formControl]="colorCtrl">
    <p>Color: {{colorCtrl.value}}</p>
    <svg>
        <g stroke="black">
            <rect  x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
        </g>
    </svg>
    <br>
    <input type="number" [formControl]="widthCrl">
    
    <span class="box" [style.width.px]="widthCrl.value"></span>
    <hr>
    <h4 class="title" >Activación dinámica de clases en Angular con validaciones</h4>

   <div>
        <input type="text" [formControl]="nameCtrl"><br />
        <span class="message-error" [class.any]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
   </div>
   <hr>
    <h4 class="title" >Edición de Tareas Dinámicas en Aplicaciones Web</h4>
    <li *ngFor="let task of tasks(); index as i" [class.completed]="task.completed">

        <div class="view"  [class.any]="form.at(i).value">
                <input class="toggle" 
                    [formControl]="form.at(i)"
                    type="checkbox" 
                    [checked]="task.completed" 
                    (change)="onToggleComplete(task)"
                    />
                <label>{{task.title}}</label>
               
            </div>
    </li>
    <div class="line-separator"></div>
    <h4>Normal class dinamic</h4>
    <!-- <li 
             *ngFor="let task of tasks(); index as i"
              [class.completed]="task.completed"
              class="editing">
              
          <div class="view"  >
            <input class="toggle" 
                   
                   type="checkbox" 
                   [checked]="task.completed" 
                   (change)="onToggleComplete(task)"
                   />
            <label>{{task.title}}</label>
          </div>
          <input class="edit" 
                [value]="task.title"
            
                />
        </li> -->

        <!-- Es lo mismo del comentado pero con el editing dinamico -->
    <li  (dblclick)="updateTaskEditingMode(i)" 
             *ngFor="let task of tasks(); index as i"
              [class.completed]="task.completed"
              [class.editing]="task.editing">
              
          <div class="view"  >
            <input class="toggle" 
                   
                   type="checkbox" 
                   [checked]="task.completed" 
                   (change)="onToggleComplete(task)"
                   />
            <label>{{task.title}}</label>
            
          </div>
          <input class="edit" 
                [value]="task.title"
                (keydown.enter)="updateTaskText(i, $event)"
                />
    </li>

    <hr>
    <h4 class="title" >Estados Computados en Programación Reactiva con Signals</h4>

    <ul class="todo-list">
        <li  (dblclick)="updateTaskEditingMode(i)" 
             *ngFor="let task of tasksByFilter(); index as i"
              [class.completed]="task.completed"
              [class.editing]="task.editing">
              
          <div class="view"  >
            <input class="toggle" 
                   
                   type="checkbox" 
                   [checked]="task.completed" 
                   (change)="onToggleComplete(task)"
                   />
            <label>{{task.title}}</label>
           
          </div>
          <input class="edit" 
                [value]="task.title"
                (keydown.enter)="updateTaskText(i, $event)"
                />
         </li>
      </ul>
    <ul class="filters">
        <li>
          <a (click)="changeFilter('all')" class="selected">All</a>
        </li>
        <li>
          <a (click)="changeFilter('pending')">Pending</a>
        </li>
        <li>
          <a (click)="changeFilter('completed')">Completed</a>
        </li>
      </ul>

      <h4 class="title" >Persistencia</h4>
      <p> es la capacidad de la app de guardar la informacion en el local storage, usando ngOnit, effetsk, injector</p>
</div>